/* common css */
.custom-btn {
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #db1d45;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
.custom-btn:hover {
  background-color: #191818;
  color: #fff;
}
